
body {
  background-image: url('../Fotos/p.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .cards-wrapper {
    max-width: 1300px; 
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
  } */
  
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(85, 84, 84);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
  }

  /* .card-container img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
  } */
  .card-container img {
    width: 100%;
    height: 250px;
    object-fit: contain; /* para que la imagen quede adentro de card */
    margin-bottom: 5px;
    margin-top: -20px; /* para subir la imagen adentro de la card */
    }



  


  

   .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   
    background-color: rgb(129, 120, 129);
    
  }
  
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  .create-pokemon {
    padding: 10px;
    border-radius: 5px;
    background-color: #1d9904;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  /* .create-pokemon:hover {
    background-color: #18e605;
  } */
  
  .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .search-bar input[type="text"] {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    flex-grow: 1;
  }
  
  .filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
  }
  
  .filter-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
  }
  
  /* .filter-group label {
    margin-right: 10px;
    font-weight: bold;
  } */
  
  /* .filter-group select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  } */
  
  .filter-group button {
    background-color: #ff9f1c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .filter-group button:hover {
    background-color: #ffbf69;
  } 

  button {
    padding: 10px;
    background-color: #ff0044;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #cc0033;
  } 

  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    width: 170px;
  }
   
  

   